.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# PyInstaller
# =========================
build/
dist/

# =========================
# Configuración sensible
# =========================
config.ini

# =========================
# Logs
# =========================
*.log
log.txt

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini
